In [1]:
from netCDF4 import Dataset,num2date
import pandas as pd
import datetime

In [7]:
root_dir = '/mnt/DataDrive1/data/zholden/VIIRS/CA_model_test'
fireDF = pd.read_csv(f'{root_dir}/fire_info.csv')
fireDF.wind_start = pd.to_datetime(fireDF.wind_start)
fireDF.fire_start = pd.to_datetime(fireDF.fire_start)
#root_dir = root_dir + '/raster_inputs_daily'

In [8]:
fireDF

,fireID,fire_name,fire_start,wind_start,hours_of_data,days_of_data,peak_aerial,peak_personnel,first_suppression,hours_til_first,hours_til_aerial,hours_til_personnel,days_til_first,days_til_aerial,days_til_personnel,fs209_indices
0,ID4634611483620150805,ARMY_MULE,2015-08-08 21:39:31,2015-08-07,1320.0,55.0,2015-08-14 21:45:00,2015-08-14 21:45:00,2015-08-14 21:45:00,144,144,144,6,6,6,"[80413, 106832]"
1,ID4439211551320170824,BEARSKIN,2017-08-25 03:00:00,2017-08-25,672.0,28.0,2017-09-10 16:00:00,2017-09-14 16:30:00,2017-09-10 16:00:00,397,397,494,17,17,21,[111189]
2,MT4784711358920150812,BEAR_CREEK,2015-08-13 01:55:00,2015-08-13,1200.0,50.0,2015-08-19 18:00:00,2015-08-31 21:30:00,2015-08-19 18:00:00,160,160,452,7,7,19,[106666]
3,ID4631911498620130718,CALIFORNIA_POINT,2013-07-19 09:13:00,2013-07-18,1032.0,43.0,2013-07-19 13:30:00,2013-07-19 13:30:00,2013-07-19 13:30:00,4,4,4,0,0,0,[103406]
4,ID4548411532320150813,CAMPBELLS,2015-08-15 03:56:59,2015-08-15,1128.0,47.0,2015-08-15 20:00:00,2015-08-22 18:00:00,2015-08-15 20:00:00,16,16,182,1,1,8,[106999]
5,ID4624611454720170813,CHUTE_CREEK,2017-08-15 16:09:14,2017-08-09,1128.0,47.0,2017-08-16 10:00:00,2017-08-16 10:00:00,2017-08-16 10:00:00,18,18,18,1,1,1,[111061]
6,MT4817011309420170811,CRUCIFIXION_CREEK,2017-08-16 03:21:10,2017-08-15,792.0,33.0,2017-09-14 18:00:00,2017-09-05 17:00:00,2017-09-05 17:00:00,494,711,494,21,30,21,[110510]
7,MT4766611562420170830,CUB_CREEK,2017-08-31 04:09:57,2017-08-30,504.0,21.0,2017-08-31 15:00:00,2017-08-31 15:00:00,2017-08-31 15:00:00,11,11,11,0,0,0,"[80547, 110804]"
8,MT4775411540420170830,DEEP_CREEK,2017-08-31 11:42:08,2017-08-30,552.0,23.0,2017-08-31 16:00:00,2017-08-31 16:00:00,2017-08-31 16:00:00,4,4,4,0,0,0,"[80546, 80549, 110777, 110841]"
9,ID4445011456920150824,ELEVENMILE,2015-08-25 04:11:43,2015-08-24,600.0,25.0,2015-09-03 19:00:00,2015-09-04 19:00:00,2015-09-03 19:00:00,231,231,255,10,10,11,[107042]
10,MT4665411363020170719,GOAT_CREEK,2017-07-21 14:30:59,2017-07-20,1008.0,42.0,2017-07-21 19:00:00,2017-07-21 19:00:00,2017-07-21 19:00:00,4,4,4,0,0,0,"[80652, 110407]"
11,MT4830211570120150820,GOAT_ROCK_COMPLEX,2015-08-20 15:17:59,2015-08-02,1440.0,60.0,2015-08-14 13:15:00,2015-08-14 13:15:00,2015-08-14 13:15:00,-146,-146,-146,-6,-6,-6,"[80103, 106678]"
12,MT4565711478020130716,GOLD_PAN_COMPLEX,2013-07-19 23:31:36,2013-07-19,1464.0,61.0,2013-08-06 16:00:00,2013-08-06 16:00:00,2013-08-06 16:00:00,424,424,424,18,18,18,"[79684, 79707, 79709, 103595]"
13,ID4554811595020170801,HANOVER,2017-08-02 03:02:23,2017-07-27,1368.0,57.0,2017-08-10 17:00:00,2017-08-15 16:00:00,2017-08-10 17:00:00,206,206,325,9,9,14,[110747]
14,WY4395910974120130720,HARDLUCK,2013-07-22 01:49:59,2013-07-11,1224.0,51.0,2013-08-18 16:30:00,2013-08-18 16:30:00,2013-08-18 16:30:00,663,663,663,28,28,28,[103977]
15,ID4638111450920170710,HIDDEN,2017-07-18 22:36:26,2017-07-15,1584.0,66.0,2017-07-20 17:30:00,2017-08-03 15:00:00,2017-07-20 17:30:00,43,43,376,2,2,16,[109942]
16,ID4549011522720170729,HIGHLINE,2017-08-01 15:31:18,2017-08-01,1200.0,50.0,2017-08-06 15:30:00,2017-08-27 19:00:00,2017-08-06 15:30:00,120,120,627,5,5,26,[111144]
17,ID4458811469520170724,IBEX,2017-07-25 15:37:08,2017-07-25,1224.0,51.0,2017-08-06 15:30:00,2017-08-08 18:30:00,2017-08-06 15:30:00,288,288,339,12,12,14,[110308]
18,ID4355711510020130824,KELLEY,2013-08-25 16:49:59,2013-08-24,528.0,22.0,2013-09-02 18:00:00,2013-09-02 18:00:00,2013-09-02 18:00:00,193,193,193,8,8,8,[103454]
19,MT4644711368920170713,LITTLE_HOGBACK,2017-07-19 02:52:59,2017-07-18,1464.0,61.0,2017-07-19 19:00:00,2017-07-19 19:00:00,2017-07-19 19:00:00,16,16,16,1,1,1,"[80654, 110692]"
20,MT4667411426820170715,LOLO_PEAK,2017-07-17 19:03:14,2017-07-12,1704.0,71.0,2017-08-17 17:30:00,2017-08-21 18:30:00,2017-08-17 17:30:00,742,742,839,31,31,35,[109861]
21,ID4608411503620170714,LONE_PINE,2017-07-21 22:52:19,2017-07-21,1656.0,69.0,2017-07-20 08:00:00,2017-07-20 08:00:00,2017-07-20 08:00:00,-39,-39,-39,-2,-2,-2,[109855]
22,ID4779711617020150812,LOWER_FLAT,2015-08-13 17:18:49,2015-08-12,1200.0,50.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,434,1171,434,18,49,18,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
23,MT4875011481620150811,MARSTON,2015-08-12 17:48:54,2015-08-11,1200.0,50.0,2015-08-11 08:30:00,2015-08-16 07:00:00,2015-08-11 08:30:00,-33,-33,85,-1,-1,4,"[80276, 106962]"
24,MT4599511358020170714,MEYERS,2017-07-15 02:28:00,2017-07-14,1608.0,67.0,2017-07-22 18:15:00,2017-07-19 18:15:00,2017-07-19 18:15:00,112,184,112,5,8,5,"[109354, 110012]"
25,ID4612211491320170714,MOOSE_CREEK_1,2017-07-17 05:24:58,2017-07-16,1536.0,64.0,2017-07-19 20:00:00,2017-07-20 11:45:00,2017-07-19 20:00:00,63,63,78,3,3,3,[109344]
26,MT4789611530920170830,MOOSE_PEAK,2017-08-31 19:17:24,2017-08-30,552.0,23.0,2017-09-08 15:00:00,2017-09-18 17:00:00,2017-09-08 15:00:00,188,188,430,8,8,18,[110803]
27,MT4773811295620150814,MOOSE_RIDGE,2015-08-21 00:47:19,2015-08-19,1056.0,44.0,2015-08-15 20:00:00,2015-09-12 00:59:00,2015-08-15 20:00:00,-125,-125,528,-5,-5,22,[106866]
28,MT4810711584820150814,NAPOLEON_1,2015-08-14 21:40:37,2015-08-14,456.0,19.0,2015-08-17 07:00:00,2015-08-20 07:00:00,2015-08-17 07:00:00,57,57,129,2,2,5,"[80028, 106764]"
29,MT4702111269120170715,PARK_CREEK,2017-07-16 14:30:18,2017-07-15,1632.0,68.0,2017-07-30 16:00:00,2017-07-23 18:30:00,2017-07-23 18:30:00,172,337,172,7,14,7,"[109972, 110603]"
30,ID4641211555020150811,PETE_FORKS,2015-08-13 08:12:45,2015-08-13,528.0,22.0,2015-08-12 21:00:00,2015-08-12 21:00:00,2015-08-12 21:00:00,-11,-11,-11,0,0,0,"[80036, 80037, 80038, 80039, 80040, 80041, 800..."
31,ID4482211591820150814,RAPID,2015-08-15 03:08:52,2015-08-13,1176.0,49.0,2015-08-30 18:00:00,2015-08-26 18:00:00,2015-08-26 18:00:00,279,375,279,12,16,12,[107014]
32,MT4780411300920130718,RED_SHALE,2013-07-20 06:11:59,2013-07-19,1320.0,55.0,2013-07-25 18:20:00,2013-07-31 18:18:00,2013-07-25 18:20:00,132,132,276,6,6,12,[103616]
33,MT4726811348520170724,RICE_RIDGE,2017-07-25 19:13:56,2017-07-24,1440.0,60.0,2017-08-15 09:00:00,2017-09-07 12:30:00,2017-08-15 09:00:00,494,494,1049,21,21,44,"[110304, 110544, 110620]"
34,ID4621311477020150715,ROLL_CREEK,2015-08-03 16:37:59,2015-08-02,1128.0,47.0,2015-08-06 21:00:00,2015-08-06 21:00:00,2015-08-06 21:00:00,76,76,76,3,3,3,"[80412, 106823]"
35,MT4795711307120170816,SCALP,2017-08-18 12:20:37,2017-08-17,792.0,33.0,2017-08-16 17:00:00,2017-09-07 10:30:00,2017-08-16 17:00:00,-43,-43,478,-2,-2,20,[111191]
36,MT4677211425120130818,SCHOOLHOUSE,2013-08-18 17:11:33,2013-08-18,336.0,14.0,2013-08-22 17:40:00,2013-08-27 17:25:00,2013-08-22 17:40:00,96,96,216,4,4,9,"[79662, 79721, 103625]"
37,MT4749511506020170829,SHEEP_GAP,2017-08-30 15:21:00,2017-08-29,576.0,24.0,2017-08-30 18:00:00,2017-08-30 18:00:00,2017-08-30 18:00:00,3,3,3,0,0,0,"[80544, 110174]"
38,ID4770811586620150813,SOUTH_BOBTAIL,2015-08-18 05:27:52,2015-08-17,1104.0,46.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,326,1063,326,14,44,14,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
39,MT4860711382920170811,SPRAGUE,2017-08-12 03:34:25,2017-08-11,1056.0,44.0,2017-09-13 14:45:00,2017-09-05 18:00:00,2017-09-05 18:00:00,590,779,590,25,32,25,[110809]
40,MT4808911301520170825,STRAWBERRY,2017-08-26 01:13:48,2017-08-26,576.0,24.0,2017-09-12 19:00:00,2017-09-12 19:00:00,2017-09-12 19:00:00,426,426,426,18,18,18,[110365]
41,MT4703711487920170717,SUNRISE,2017-07-17 18:51:40,2017-07-17,1512.0,63.0,2017-07-24 18:00:00,2017-08-14 17:00:00,2017-07-24 18:00:00,167,167,670,7,7,28,[110431]
42,MT4854411361620150809,THOMPSON,2015-08-10 02:52:00,2015-08-09,600.0,25.0,2015-08-10 22:00:00,2015-08-11 20:00:00,2015-08-10 22:00:00,19,19,41,1,1,2,[106625]
43,MT4794711342920150812,TRAIL_CREEK,2015-08-13 05:39:12,2015-08-13,1200.0,50.0,2015-08-14 10:00:00,2015-08-24 18:00:00,2015-08-14 10:00:00,28,28,276,1,1,12,[106991]
44,ID4606811540520150815,WASH,2015-08-16 08:03:08,2015-08-15,1152.0,48.0,2015-08-16 16:00:00,2015-08-26 18:00:00,2015-08-16 16:00:00,8,8,250,0,0,10,"[80338, 106796]"
45,MT4850811564920170830,WEST_FORK,2017-09-01 04:49:37,2017-08-31,576.0,24.0,2017-09-14 17:00:00,2017-09-17 17:00:00,2017-09-14 17:00:00,324,324,396,14,14,16,[110805]
46,MT4721411494320130714,WEST_MULLAN,2013-07-15 14:36:59,2013-07-15,408.0,17.0,2013-07-15 17:00:00,2013-07-21 18:00:00,2013-07-15 17:00:00,2,2,147,0,0,6,[103621]
47,ID4618211575420150811,WOODRAT,2015-08-13 04:35:00,2015-08-12,1200.0,50.0,2015-08-13 15:30:00,2015-08-13 15:30:00,2015-08-13 15:30:00,11,11,11,0,0,0,"[80055, 106961]"

In [9]:
len(fireDF)

48

In [15]:
len(fireDF.loc[(fireDF.fire_start - fireDF.wind_start).dt.total_seconds() >= 60*60*24])

34

In [21]:
limit = fireDF.loc[fireDF.hours_til_first > 24]
print(len(limit))
#limit = limit.loc[(limit.first_suppression - limit.wind_start).dt.total_seconds() > 60*60*24]
#print(len(limit))
limit = limit.loc[(limit.fire_start - limit.wind_start).dt.total_seconds() >= 60*60*24]
print(len(limit))
limit

30
20

,fireID,fire_name,fire_start,wind_start,hours_of_data,days_of_data,peak_aerial,peak_personnel,first_suppression,hours_til_first,hours_til_aerial,hours_til_personnel,days_til_first,days_til_aerial,days_til_personnel,fs209_indices
0,ID4634611483620150805,ARMY_MULE,2015-08-08 21:39:31,2015-08-07,1320.0,55.0,2015-08-14 21:45:00,2015-08-14 21:45:00,2015-08-14 21:45:00,144,144,144,6,6,6,"[80413, 106832]"
6,MT4817011309420170811,CRUCIFIXION_CREEK,2017-08-16 03:21:10,2017-08-15,792.0,33.0,2017-09-14 18:00:00,2017-09-05 17:00:00,2017-09-05 17:00:00,494,711,494,21,30,21,[110510]
9,ID4445011456920150824,ELEVENMILE,2015-08-25 04:11:43,2015-08-24,600.0,25.0,2015-09-03 19:00:00,2015-09-04 19:00:00,2015-09-03 19:00:00,231,231,255,10,10,11,[107042]
13,ID4554811595020170801,HANOVER,2017-08-02 03:02:23,2017-07-27,1368.0,57.0,2017-08-10 17:00:00,2017-08-15 16:00:00,2017-08-10 17:00:00,206,206,325,9,9,14,[110747]
14,WY4395910974120130720,HARDLUCK,2013-07-22 01:49:59,2013-07-11,1224.0,51.0,2013-08-18 16:30:00,2013-08-18 16:30:00,2013-08-18 16:30:00,663,663,663,28,28,28,[103977]
15,ID4638111450920170710,HIDDEN,2017-07-18 22:36:26,2017-07-15,1584.0,66.0,2017-07-20 17:30:00,2017-08-03 15:00:00,2017-07-20 17:30:00,43,43,376,2,2,16,[109942]
18,ID4355711510020130824,KELLEY,2013-08-25 16:49:59,2013-08-24,528.0,22.0,2013-09-02 18:00:00,2013-09-02 18:00:00,2013-09-02 18:00:00,193,193,193,8,8,8,[103454]
20,MT4667411426820170715,LOLO_PEAK,2017-07-17 19:03:14,2017-07-12,1704.0,71.0,2017-08-17 17:30:00,2017-08-21 18:30:00,2017-08-17 17:30:00,742,742,839,31,31,35,[109861]
22,ID4779711617020150812,LOWER_FLAT,2015-08-13 17:18:49,2015-08-12,1200.0,50.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,434,1171,434,18,49,18,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
24,MT4599511358020170714,MEYERS,2017-07-15 02:28:00,2017-07-14,1608.0,67.0,2017-07-22 18:15:00,2017-07-19 18:15:00,2017-07-19 18:15:00,112,184,112,5,8,5,"[109354, 110012]"
25,ID4612211491320170714,MOOSE_CREEK_1,2017-07-17 05:24:58,2017-07-16,1536.0,64.0,2017-07-19 20:00:00,2017-07-20 11:45:00,2017-07-19 20:00:00,63,63,78,3,3,3,[109344]
26,MT4789611530920170830,MOOSE_PEAK,2017-08-31 19:17:24,2017-08-30,552.0,23.0,2017-09-08 15:00:00,2017-09-18 17:00:00,2017-09-08 15:00:00,188,188,430,8,8,18,[110803]
29,MT4702111269120170715,PARK_CREEK,2017-07-16 14:30:18,2017-07-15,1632.0,68.0,2017-07-30 16:00:00,2017-07-23 18:30:00,2017-07-23 18:30:00,172,337,172,7,14,7,"[109972, 110603]"
31,ID4482211591820150814,RAPID,2015-08-15 03:08:52,2015-08-13,1176.0,49.0,2015-08-30 18:00:00,2015-08-26 18:00:00,2015-08-26 18:00:00,279,375,279,12,16,12,[107014]
32,MT4780411300920130718,RED_SHALE,2013-07-20 06:11:59,2013-07-19,1320.0,55.0,2013-07-25 18:20:00,2013-07-31 18:18:00,2013-07-25 18:20:00,132,132,276,6,6,12,[103616]
33,MT4726811348520170724,RICE_RIDGE,2017-07-25 19:13:56,2017-07-24,1440.0,60.0,2017-08-15 09:00:00,2017-09-07 12:30:00,2017-08-15 09:00:00,494,494,1049,21,21,44,"[110304, 110544, 110620]"
34,ID4621311477020150715,ROLL_CREEK,2015-08-03 16:37:59,2015-08-02,1128.0,47.0,2015-08-06 21:00:00,2015-08-06 21:00:00,2015-08-06 21:00:00,76,76,76,3,3,3,"[80412, 106823]"
38,ID4770811586620150813,SOUTH_BOBTAIL,2015-08-18 05:27:52,2015-08-17,1104.0,46.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,326,1063,326,14,44,14,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
39,MT4860711382920170811,SPRAGUE,2017-08-12 03:34:25,2017-08-11,1056.0,44.0,2017-09-13 14:45:00,2017-09-05 18:00:00,2017-09-05 18:00:00,590,779,590,25,32,25,[110809]
45,MT4850811564920170830,WEST_FORK,2017-09-01 04:49:37,2017-08-31,576.0,24.0,2017-09-14 17:00:00,2017-09-17 17:00:00,2017-09-14 17:00:00,324,324,396,14,14,16,[110805]

In [22]:
limit = fireDF.loc[fireDF.days_til_first > 0]
print(len(limit))
#limit = limit.loc[(limit.first_suppression - limit.wind_start).dt.total_seconds() > 60*60*24]
#print(len(limit))
limit = limit.loc[(limit.fire_start - limit.wind_start).dt.total_seconds() >= 60*60*24]
print(len(limit))
limit

34
23

,fireID,fire_name,fire_start,wind_start,hours_of_data,days_of_data,peak_aerial,peak_personnel,first_suppression,hours_til_first,hours_til_aerial,hours_til_personnel,days_til_first,days_til_aerial,days_til_personnel,fs209_indices
0,ID4634611483620150805,ARMY_MULE,2015-08-08 21:39:31,2015-08-07,1320.0,55.0,2015-08-14 21:45:00,2015-08-14 21:45:00,2015-08-14 21:45:00,144,144,144,6,6,6,"[80413, 106832]"
5,ID4624611454720170813,CHUTE_CREEK,2017-08-15 16:09:14,2017-08-09,1128.0,47.0,2017-08-16 10:00:00,2017-08-16 10:00:00,2017-08-16 10:00:00,18,18,18,1,1,1,[111061]
6,MT4817011309420170811,CRUCIFIXION_CREEK,2017-08-16 03:21:10,2017-08-15,792.0,33.0,2017-09-14 18:00:00,2017-09-05 17:00:00,2017-09-05 17:00:00,494,711,494,21,30,21,[110510]
9,ID4445011456920150824,ELEVENMILE,2015-08-25 04:11:43,2015-08-24,600.0,25.0,2015-09-03 19:00:00,2015-09-04 19:00:00,2015-09-03 19:00:00,231,231,255,10,10,11,[107042]
13,ID4554811595020170801,HANOVER,2017-08-02 03:02:23,2017-07-27,1368.0,57.0,2017-08-10 17:00:00,2017-08-15 16:00:00,2017-08-10 17:00:00,206,206,325,9,9,14,[110747]
14,WY4395910974120130720,HARDLUCK,2013-07-22 01:49:59,2013-07-11,1224.0,51.0,2013-08-18 16:30:00,2013-08-18 16:30:00,2013-08-18 16:30:00,663,663,663,28,28,28,[103977]
15,ID4638111450920170710,HIDDEN,2017-07-18 22:36:26,2017-07-15,1584.0,66.0,2017-07-20 17:30:00,2017-08-03 15:00:00,2017-07-20 17:30:00,43,43,376,2,2,16,[109942]
18,ID4355711510020130824,KELLEY,2013-08-25 16:49:59,2013-08-24,528.0,22.0,2013-09-02 18:00:00,2013-09-02 18:00:00,2013-09-02 18:00:00,193,193,193,8,8,8,[103454]
19,MT4644711368920170713,LITTLE_HOGBACK,2017-07-19 02:52:59,2017-07-18,1464.0,61.0,2017-07-19 19:00:00,2017-07-19 19:00:00,2017-07-19 19:00:00,16,16,16,1,1,1,"[80654, 110692]"
20,MT4667411426820170715,LOLO_PEAK,2017-07-17 19:03:14,2017-07-12,1704.0,71.0,2017-08-17 17:30:00,2017-08-21 18:30:00,2017-08-17 17:30:00,742,742,839,31,31,35,[109861]
22,ID4779711617020150812,LOWER_FLAT,2015-08-13 17:18:49,2015-08-12,1200.0,50.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,434,1171,434,18,49,18,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
24,MT4599511358020170714,MEYERS,2017-07-15 02:28:00,2017-07-14,1608.0,67.0,2017-07-22 18:15:00,2017-07-19 18:15:00,2017-07-19 18:15:00,112,184,112,5,8,5,"[109354, 110012]"
25,ID4612211491320170714,MOOSE_CREEK_1,2017-07-17 05:24:58,2017-07-16,1536.0,64.0,2017-07-19 20:00:00,2017-07-20 11:45:00,2017-07-19 20:00:00,63,63,78,3,3,3,[109344]
26,MT4789611530920170830,MOOSE_PEAK,2017-08-31 19:17:24,2017-08-30,552.0,23.0,2017-09-08 15:00:00,2017-09-18 17:00:00,2017-09-08 15:00:00,188,188,430,8,8,18,[110803]
29,MT4702111269120170715,PARK_CREEK,2017-07-16 14:30:18,2017-07-15,1632.0,68.0,2017-07-30 16:00:00,2017-07-23 18:30:00,2017-07-23 18:30:00,172,337,172,7,14,7,"[109972, 110603]"
31,ID4482211591820150814,RAPID,2015-08-15 03:08:52,2015-08-13,1176.0,49.0,2015-08-30 18:00:00,2015-08-26 18:00:00,2015-08-26 18:00:00,279,375,279,12,16,12,[107014]
32,MT4780411300920130718,RED_SHALE,2013-07-20 06:11:59,2013-07-19,1320.0,55.0,2013-07-25 18:20:00,2013-07-31 18:18:00,2013-07-25 18:20:00,132,132,276,6,6,12,[103616]
33,MT4726811348520170724,RICE_RIDGE,2017-07-25 19:13:56,2017-07-24,1440.0,60.0,2017-08-15 09:00:00,2017-09-07 12:30:00,2017-08-15 09:00:00,494,494,1049,21,21,44,"[110304, 110544, 110620]"
34,ID4621311477020150715,ROLL_CREEK,2015-08-03 16:37:59,2015-08-02,1128.0,47.0,2015-08-06 21:00:00,2015-08-06 21:00:00,2015-08-06 21:00:00,76,76,76,3,3,3,"[80412, 106823]"
38,ID4770811586620150813,SOUTH_BOBTAIL,2015-08-18 05:27:52,2015-08-17,1104.0,46.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,326,1063,326,14,44,14,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
39,MT4860711382920170811,SPRAGUE,2017-08-12 03:34:25,2017-08-11,1056.0,44.0,2017-09-13 14:45:00,2017-09-05 18:00:00,2017-09-05 18:00:00,590,779,590,25,32,25,[110809]
42,MT4854411361620150809,THOMPSON,2015-08-10 02:52:00,2015-08-09,600.0,25.0,2015-08-10 22:00:00,2015-08-11 20:00:00,2015-08-10 22:00:00,19,19,41,1,1,2,[106625]
45,MT4850811564920170830,WEST_FORK,2017-09-01 04:49:37,2017-08-31,576.0,24.0,2017-09-14 17:00:00,2017-09-17 17:00:00,2017-09-14 17:00:00,324,324,396,14,14,16,[110805]

In [43]:
for i, row in fireDF.iterrows():
    fire = row.fireID
    print(fire, row.fire_start)
    wspd_file = f'{root_dir}/{fire}/{fire}_windspeed.nc'
    wdir_file = f'{root_dir}/{fire}/{fire}_winddir.nc'
    with Dataset(wspd_file,'r') as nc_file:
        time_var = nc_file.variables['time']
        raw_times = time_var[:]
        wspd_dates = num2date(raw_times, units=time_var.units)
    with Dataset(wdir_file,'r') as nc_file:
        time_var = nc_file.variables['time']
        raw_times = time_var[:]
        wdir_dates = num2date(raw_times, units=time_var.units)
    for i in [0,23,24]:
        print(wspd_dates[i].strftime('%Y-%m-%d %H:%M:%S'), wdir_dates[i].strftime('%Y-%m-%d %H:%M:%S'),raw_times[i])
    print()

MT4830211570120150820 2015-08-20 15:17:59
2015-08-02 00:00:00 2015-08-02 00:00:00 16649.0
2015-08-02 00:00:00 2015-08-02 00:00:00 16649.0
2015-08-03 00:00:00 2015-08-03 00:00:00 16650.0

MT4789611530920170830 2017-08-31 19:17:24
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-31 00:00:00 2017-08-31 00:00:00 17409.0

MT4766611562420170830 2017-08-31 04:09:57
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-31 00:00:00 2017-08-31 00:00:00 17409.0

MT4749511506020170829 2017-08-30 15:21:00
2017-08-29 00:00:00 2017-08-29 00:00:00 17407.0
2017-08-29 00:00:00 2017-08-29 00:00:00 17407.0
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0

ID4482211591820150814 2015-08-15 03:08:52
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0

ID4624611454720170813 2017-08-15 16:09:14
2017-08-09 00:00:00 2017-08-09 00:00:00 17387.0
2017-08-09 00:00:00 2017-08-09 00:00:00 17387.0
2017-08-10 00:00:00 2017-08-10 00:00:00 17388.0

ID4618211575420150811 2015-08-13 04:35:00
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0

MT4795711307120170816 2017-08-18 12:20:37
2017-08-17 00:00:00 2017-08-17 00:00:00 17395.0
2017-08-17 00:00:00 2017-08-17 00:00:00 17395.0
2017-08-18 00:00:00 2017-08-18 00:00:00 17396.0

MT4817011309420170811 2017-08-16 03:21:10
2017-08-15 00:00:00 2017-08-15 00:00:00 17393.0
2017-08-15 00:00:00 2017-08-15 00:00:00 17393.0
2017-08-16 00:00:00 2017-08-16 00:00:00 17394.0

MT4665411363020170719 2017-07-21 14:30:59
2017-07-20 00:00:00 2017-07-20 00:00:00 17367.0
2017-07-20 00:00:00 2017-07-20 00:00:00 17367.0
2017-07-21 00:00:00 2017-07-21 00:00:00 17368.0

MT4644711368920170713 2017-07-19 02:52:59
2017-07-18 00:00:00 2017-07-18 00:00:00 17365.0
2017-07-18 00:00:00 2017-07-18 00:00:00 17365.0
2017-07-19 00:00:00 2017-07-19 00:00:00 17366.0

ID4634611483620150805 2015-08-08 21:39:31
2015-08-07 00:00:00 2015-08-07 00:00:00 16654.0
2015-08-07 00:00:00 2015-08-07 00:00:00 16654.0
2015-08-08 00:00:00 2015-08-08 00:00:00 16655.0

ID4631911498620130718 2013-07-19 09:13:00
2013-07-18 00:00:00 2013-07-18 00:00:00 15904.0
2013-07-18 00:00:00 2013-07-18 00:00:00 15904.0
2013-07-19 00:00:00 2013-07-19 00:00:00 15905.0

ID4355711510020130824 2013-08-25 16:49:59
2013-08-24 00:00:00 2013-08-24 00:00:00 15941.0
2013-08-24 00:00:00 2013-08-24 00:00:00 15941.0
2013-08-25 00:00:00 2013-08-25 00:00:00 15942.0

WY4395910974120130720 2013-07-22 01:49:59
2013-07-11 00:00:00 2013-07-11 00:00:00 15897.0
2013-07-11 00:00:00 2013-07-11 00:00:00 15897.0
2013-07-12 00:00:00 2013-07-12 00:00:00 15898.0

ID4612211491320170714 2017-07-17 05:24:58
2017-07-16 00:00:00 2017-07-16 00:00:00 17363.0
2017-07-16 00:00:00 2017-07-16 00:00:00 17363.0
2017-07-17 00:00:00 2017-07-17 00:00:00 17364.0

MT4780411300920130718 2013-07-20 06:11:59
2013-07-19 00:00:00 2013-07-19 00:00:00 15905.0
2013-07-19 00:00:00 2013-07-19 00:00:00 15905.0
2013-07-20 00:00:00 2013-07-20 00:00:00 15906.0

ID4445011456920150824 2015-08-25 04:11:43
2015-08-24 00:00:00 2015-08-24 00:00:00 16671.0
2015-08-24 00:00:00 2015-08-24 00:00:00 16671.0
2015-08-25 00:00:00 2015-08-25 00:00:00 16672.0

MT4726811348520170724 2017-07-25 19:13:56
2017-07-24 00:00:00 2017-07-24 00:00:00 17371.0
2017-07-24 00:00:00 2017-07-24 00:00:00 17371.0
2017-07-25 00:00:00 2017-07-25 00:00:00 17372.0

MT4854411361620150809 2015-08-10 02:52:00
2015-08-09 00:00:00 2015-08-09 00:00:00 16656.0
2015-08-09 00:00:00 2015-08-09 00:00:00 16656.0
2015-08-10 00:00:00 2015-08-10 00:00:00 16657.0

ID4779711617020150812 2015-08-13 17:18:49
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0

MT4775411540420170830 2017-08-31 11:42:08
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-31 00:00:00 2017-08-31 00:00:00 17409.0

ID4621311477020150715 2015-08-03 16:37:59
2015-08-02 00:00:00 2015-08-02 00:00:00 16649.0
2015-08-02 00:00:00 2015-08-02 00:00:00 16649.0
2015-08-03 00:00:00 2015-08-03 00:00:00 16650.0

MT4875011481620150811 2015-08-12 17:48:54
2015-08-11 00:00:00 2015-08-11 00:00:00 16658.0
2015-08-11 00:00:00 2015-08-11 00:00:00 16658.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0

MT4860711382920170811 2017-08-12 03:34:25
2017-08-10 00:00:00 2017-08-10 00:00:00 17388.0
2017-08-10 00:00:00 2017-08-10 00:00:00 17388.0
2017-08-11 00:00:00 2017-08-11 00:00:00 17389.0

ID4548411532320150813 2015-08-15 03:56:59
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0
2015-08-15 00:00:00 2015-08-15 00:00:00 16662.0

MT4703711487920170717 2017-07-17 18:51:40
2017-07-16 00:00:00 2017-07-16 00:00:00 17363.0
2017-07-16 00:00:00 2017-07-16 00:00:00 17363.0
2017-07-17 00:00:00 2017-07-17 00:00:00 17364.0

ID4608411503620170714 2017-07-21 22:52:19
2017-07-20 00:00:00 2017-07-20 00:00:00 17367.0
2017-07-20 00:00:00 2017-07-20 00:00:00 17367.0
2017-07-21 00:00:00 2017-07-21 00:00:00 17368.0

ID4549011522720170729 2017-08-01 15:31:18
2017-07-31 00:00:00 2017-07-31 00:00:00 17378.0
2017-07-31 00:00:00 2017-07-31 00:00:00 17378.0
2017-08-01 00:00:00 2017-08-01 00:00:00 17379.0

ID4770811586620150813 2015-08-18 05:27:52
2015-08-16 00:00:00 2015-08-16 00:00:00 16663.0
2015-08-16 00:00:00 2015-08-16 00:00:00 16663.0
2015-08-17 00:00:00 2015-08-17 00:00:00 16664.0

ID4458811469520170724 2017-07-25 15:37:08
2017-07-24 00:00:00 2017-07-24 00:00:00 17371.0
2017-07-24 00:00:00 2017-07-24 00:00:00 17371.0
2017-07-25 00:00:00 2017-07-25 00:00:00 17372.0

ID4638111450920170710 2017-07-18 22:36:26
2017-07-14 00:00:00 2017-07-14 00:00:00 17361.0
2017-07-14 00:00:00 2017-07-14 00:00:00 17361.0
2017-07-15 00:00:00 2017-07-15 00:00:00 17362.0

MT4773811295620150814 2015-08-21 00:47:19
2015-08-18 00:00:00 2015-08-18 00:00:00 16665.0
2015-08-18 00:00:00 2015-08-18 00:00:00 16665.0
2015-08-19 00:00:00 2015-08-19 00:00:00 16666.0

MT4667411426820170715 2017-07-17 19:03:14
2017-07-11 00:00:00 2017-07-11 00:00:00 17358.0
2017-07-11 00:00:00 2017-07-11 00:00:00 17358.0
2017-07-12 00:00:00 2017-07-12 00:00:00 17359.0

MT4794711342920150812 2015-08-13 05:39:12
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0

MT4808911301520170825 2017-08-26 01:13:48
2017-08-25 00:00:00 2017-08-25 00:00:00 17403.0
2017-08-25 00:00:00 2017-08-25 00:00:00 17403.0
2017-08-26 00:00:00 2017-08-26 00:00:00 17404.0

MT4784711358920150812 2015-08-13 01:55:00
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0

ID4554811595020170801 2017-08-02 03:02:23
2017-07-26 00:00:00 2017-07-26 00:00:00 17373.0
2017-07-26 00:00:00 2017-07-26 00:00:00 17373.0
2017-07-27 00:00:00 2017-07-27 00:00:00 17374.0

ID4641211555020150811 2015-08-13 08:12:45
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-12 00:00:00 2015-08-12 00:00:00 16659.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0

ID4439211551320170824 2017-08-25 03:00:00
2017-08-24 00:00:00 2017-08-24 00:00:00 17402.0
2017-08-24 00:00:00 2017-08-24 00:00:00 17402.0
2017-08-25 00:00:00 2017-08-25 00:00:00 17403.0

MT4810711584820150814 2015-08-14 21:40:37
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0
2015-08-13 00:00:00 2015-08-13 00:00:00 16660.0
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0

ID4606811540520150815 2015-08-16 08:03:08
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0
2015-08-14 00:00:00 2015-08-14 00:00:00 16661.0
2015-08-15 00:00:00 2015-08-15 00:00:00 16662.0

MT4565711478020130716 2013-07-19 23:31:36
2013-07-18 00:00:00 2013-07-18 00:00:00 15904.0
2013-07-18 00:00:00 2013-07-18 00:00:00 15904.0
2013-07-19 00:00:00 2013-07-19 00:00:00 15905.0

MT4721411494320130714 2013-07-15 14:36:59
2013-07-14 00:00:00 2013-07-14 00:00:00 15900.0
2013-07-14 00:00:00 2013-07-14 00:00:00 15900.0
2013-07-15 00:00:00 2013-07-15 00:00:00 15901.0

MT4677211425120130818 2013-08-18 17:11:33
2013-08-17 00:00:00 2013-08-17 00:00:00 15934.0
2013-08-17 00:00:00 2013-08-17 00:00:00 15934.0
2013-08-18 00:00:00 2013-08-18 00:00:00 15935.0

MT4599511358020170714 2017-07-15 02:28:00
2017-07-13 00:00:00 2017-07-13 00:00:00 17360.0
2017-07-13 00:00:00 2017-07-13 00:00:00 17360.0
2017-07-14 00:00:00 2017-07-14 00:00:00 17361.0

MT4702111269120170715 2017-07-16 14:30:18
2017-07-14 00:00:00 2017-07-14 00:00:00 17361.0
2017-07-14 00:00:00 2017-07-14 00:00:00 17361.0
2017-07-15 00:00:00 2017-07-15 00:00:00 17362.0

MT4850811564920170830 2017-09-01 04:49:37
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-30 00:00:00 2017-08-30 00:00:00 17408.0
2017-08-31 00:00:00 2017-08-31 00:00:00 17409.0

In [47]:
fireDF['wind_start'] = ''
for i, row in fireDF.iterrows():
    fire = row.fireID
    wspd_file = f'{root_dir}/{fire}/{fire}_windspeed.nc'
    with Dataset(wspd_file,'r') as nc_file:
        time_var = nc_file.variables['time']
        raw_times = time_var[:]
        wspd_dates = num2date(raw_times, units=time_var.units)
        fireDF.loc[i,'wind_start'] = wspd_dates[i].strftime('%Y-%m-%d %H:%M:%S')
fireDF.wind_start = pd.to_datetime(fireDF.wind_start)
fireDF

,fireID,fire_name,fire_start,hours_of_data,days_of_data,peak_aerial,peak_personnel,first_suppression,hours_til_first,hours_til_aerial,hours_til_personnel,days_til_first,days_til_aerial,days_til_personnel,fs209_indices,wind_start
0,MT4830211570120150820,GOAT_ROCK_COMPLEX,2015-08-20 15:17:59,1440.0,60.0,2015-08-14 13:15:00,2015-08-14 13:15:00,2015-08-14 13:15:00,-146,-146,-146,-6,-6,-6,"[80103, 106678]",2015-08-02
1,MT4789611530920170830,MOOSE_PEAK,2017-08-31 19:17:24,552.0,23.0,2017-09-08 15:00:00,2017-09-18 17:00:00,2017-09-08 15:00:00,188,188,430,8,8,18,[110803],2017-08-30
2,MT4766611562420170830,CUB_CREEK,2017-08-31 04:09:57,504.0,21.0,2017-08-31 15:00:00,2017-08-31 15:00:00,2017-08-31 15:00:00,11,11,11,0,0,0,"[80547, 110804]",2017-08-30
3,MT4749511506020170829,SHEEP_GAP,2017-08-30 15:21:00,576.0,24.0,2017-08-30 18:00:00,2017-08-30 18:00:00,2017-08-30 18:00:00,3,3,3,0,0,0,"[80544, 110174]",2017-08-29
4,ID4482211591820150814,RAPID,2015-08-15 03:08:52,1176.0,49.0,2015-08-30 18:00:00,2015-08-26 18:00:00,2015-08-26 18:00:00,279,375,279,12,16,12,[107014],2015-08-13
5,ID4624611454720170813,CHUTE_CREEK,2017-08-15 16:09:14,1128.0,47.0,2017-08-16 10:00:00,2017-08-16 10:00:00,2017-08-16 10:00:00,18,18,18,1,1,1,[111061],2017-08-09
6,ID4618211575420150811,WOODRAT,2015-08-13 04:35:00,1200.0,50.0,2015-08-13 15:30:00,2015-08-13 15:30:00,2015-08-13 15:30:00,11,11,11,0,0,0,"[80055, 106961]",2015-08-12
7,MT4795711307120170816,SCALP,2017-08-18 12:20:37,792.0,33.0,2017-08-16 17:00:00,2017-09-07 10:30:00,2017-08-16 17:00:00,-43,-43,478,-2,-2,20,[111191],2017-08-17
8,MT4817011309420170811,CRUCIFIXION_CREEK,2017-08-16 03:21:10,792.0,33.0,2017-09-14 18:00:00,2017-09-05 17:00:00,2017-09-05 17:00:00,494,711,494,21,30,21,[110510],2017-08-15
9,MT4665411363020170719,GOAT_CREEK,2017-07-21 14:30:59,1008.0,42.0,2017-07-21 19:00:00,2017-07-21 19:00:00,2017-07-21 19:00:00,4,4,4,0,0,0,"[80652, 110407]",2017-07-20
10,MT4644711368920170713,LITTLE_HOGBACK,2017-07-19 02:52:59,1464.0,61.0,2017-07-19 19:00:00,2017-07-19 19:00:00,2017-07-19 19:00:00,16,16,16,1,1,1,"[80654, 110692]",2017-07-18
11,ID4634611483620150805,ARMY_MULE,2015-08-08 21:39:31,1320.0,55.0,2015-08-14 21:45:00,2015-08-14 21:45:00,2015-08-14 21:45:00,144,144,144,6,6,6,"[80413, 106832]",2015-08-07
12,ID4631911498620130718,CALIFORNIA_POINT,2013-07-19 09:13:00,1032.0,43.0,2013-07-19 13:30:00,2013-07-19 13:30:00,2013-07-19 13:30:00,4,4,4,0,0,0,[103406],2013-07-18
13,ID4355711510020130824,KELLEY,2013-08-25 16:49:59,528.0,22.0,2013-09-02 18:00:00,2013-09-02 18:00:00,2013-09-02 18:00:00,193,193,193,8,8,8,[103454],2013-08-24
14,WY4395910974120130720,HARDLUCK,2013-07-22 01:49:59,1224.0,51.0,2013-08-18 16:30:00,2013-08-18 16:30:00,2013-08-18 16:30:00,663,663,663,28,28,28,[103977],2013-07-11
15,ID4612211491320170714,MOOSE_CREEK_1,2017-07-17 05:24:58,1536.0,64.0,2017-07-19 20:00:00,2017-07-20 11:45:00,2017-07-19 20:00:00,63,63,78,3,3,3,[109344],2017-07-16
16,MT4780411300920130718,RED_SHALE,2013-07-20 06:11:59,1320.0,55.0,2013-07-25 18:20:00,2013-07-31 18:18:00,2013-07-25 18:20:00,132,132,276,6,6,12,[103616],2013-07-19
17,ID4445011456920150824,ELEVENMILE,2015-08-25 04:11:43,600.0,25.0,2015-09-03 19:00:00,2015-09-04 19:00:00,2015-09-03 19:00:00,231,231,255,10,10,11,[107042],2015-08-24
18,MT4726811348520170724,RICE_RIDGE,2017-07-25 19:13:56,1440.0,60.0,2017-08-15 09:00:00,2017-09-07 12:30:00,2017-08-15 09:00:00,494,494,1049,21,21,44,"[110304, 110544, 110620]",2017-07-24
19,MT4854411361620150809,THOMPSON,2015-08-10 02:52:00,600.0,25.0,2015-08-10 22:00:00,2015-08-11 20:00:00,2015-08-10 22:00:00,19,19,41,1,1,2,[106625],2015-08-09
20,ID4779711617020150812,LOWER_FLAT,2015-08-13 17:18:49,1200.0,50.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,434,1171,434,18,49,18,"[80131, 80132, 80133, 80134, 80135, 80136, 801...",2015-08-12
21,MT4775411540420170830,DEEP_CREEK,2017-08-31 11:42:08,552.0,23.0,2017-08-31 16:00:00,2017-08-31 16:00:00,2017-08-31 16:00:00,4,4,4,0,0,0,"[80546, 80549, 110777, 110841]",2017-08-30
22,ID4621311477020150715,ROLL_CREEK,2015-08-03 16:37:59,1128.0,47.0,2015-08-06 21:00:00,2015-08-06 21:00:00,2015-08-06 21:00:00,76,76,76,3,3,3,"[80412, 106823]",2015-08-02
23,MT4875011481620150811,MARSTON,2015-08-12 17:48:54,1200.0,50.0,2015-08-11 08:30:00,2015-08-16 07:00:00,2015-08-11 08:30:00,-33,-33,85,-1,-1,4,"[80276, 106962]",2015-08-11
24,MT4860711382920170811,SPRAGUE,2017-08-12 03:34:25,1056.0,44.0,2017-09-13 14:45:00,2017-09-05 18:00:00,2017-09-05 18:00:00,590,779,590,25,32,25,[110809],2017-08-11
25,ID4548411532320150813,CAMPBELLS,2015-08-15 03:56:59,1128.0,47.0,2015-08-15 20:00:00,2015-08-22 18:00:00,2015-08-15 20:00:00,16,16,182,1,1,8,[106999],2015-08-15
26,MT4703711487920170717,SUNRISE,2017-07-17 18:51:40,1512.0,63.0,2017-07-24 18:00:00,2017-08-14 17:00:00,2017-07-24 18:00:00,167,167,670,7,7,28,[110431],2017-07-17
27,ID4608411503620170714,LONE_PINE,2017-07-21 22:52:19,1656.0,69.0,2017-07-20 08:00:00,2017-07-20 08:00:00,2017-07-20 08:00:00,-39,-39,-39,-2,-2,-2,[109855],2017-07-21
28,ID4549011522720170729,HIGHLINE,2017-08-01 15:31:18,1200.0,50.0,2017-08-06 15:30:00,2017-08-27 19:00:00,2017-08-06 15:30:00,120,120,627,5,5,26,[111144],2017-08-01
29,ID4770811586620150813,SOUTH_BOBTAIL,2015-08-18 05:27:52,1104.0,46.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,326,1063,326,14,44,14,"[80131, 80132, 80133, 80134, 80135, 80136, 801...",2015-08-17
30,ID4458811469520170724,IBEX,2017-07-25 15:37:08,1224.0,51.0,2017-08-06 15:30:00,2017-08-08 18:30:00,2017-08-06 15:30:00,288,288,339,12,12,14,[110308],2017-07-25
31,ID4638111450920170710,HIDDEN,2017-07-18 22:36:26,1584.0,66.0,2017-07-20 17:30:00,2017-08-03 15:00:00,2017-07-20 17:30:00,43,43,376,2,2,16,[109942],2017-07-15
32,MT4773811295620150814,MOOSE_RIDGE,2015-08-21 00:47:19,1056.0,44.0,2015-08-15 20:00:00,2015-09-12 00:59:00,2015-08-15 20:00:00,-125,-125,528,-5,-5,22,[106866],2015-08-19
33,MT4667411426820170715,LOLO_PEAK,2017-07-17 19:03:14,1704.0,71.0,2017-08-17 17:30:00,2017-08-21 18:30:00,2017-08-17 17:30:00,742,742,839,31,31,35,[109861],2017-07-12
34,MT4794711342920150812,TRAIL_CREEK,2015-08-13 05:39:12,1200.0,50.0,2015-08-14 10:00:00,2015-08-24 18:00:00,2015-08-14 10:00:00,28,28,276,1,1,12,[106991],2015-08-13
35,MT4808911301520170825,STRAWBERRY,2017-08-26 01:13:48,576.0,24.0,2017-09-12 19:00:00,2017-09-12 19:00:00,2017-09-12 19:00:00,426,426,426,18,18,18,[110365],2017-08-26
36,MT4784711358920150812,BEAR_CREEK,2015-08-13 01:55:00,1200.0,50.0,2015-08-19 18:00:00,2015-08-31 21:30:00,2015-08-19 18:00:00,160,160,452,7,7,19,[106666],2015-08-13
37,ID4554811595020170801,HANOVER,2017-08-02 03:02:23,1368.0,57.0,2017-08-10 17:00:00,2017-08-15 16:00:00,2017-08-10 17:00:00,206,206,325,9,9,14,[110747],2017-07-27
38,ID4641211555020150811,PETE_FORKS,2015-08-13 08:12:45,528.0,22.0,2015-08-12 21:00:00,2015-08-12 21:00:00,2015-08-12 21:00:00,-11,-11,-11,0,0,0,"[80036, 80037, 80038, 80039, 80040, 80041, 800...",2015-08-13
39,ID4439211551320170824,BEARSKIN,2017-08-25 03:00:00,672.0,28.0,2017-09-10 16:00:00,2017-09-14 16:30:00,2017-09-10 16:00:00,397,397,494,17,17,21,[111189],2017-08-25
40,MT4810711584820150814,NAPOLEON_1,2015-08-14 21:40:37,456.0,19.0,2015-08-17 07:00:00,2015-08-20 07:00:00,2015-08-17 07:00:00,57,57,129,2,2,5,"[80028, 106764]",2015-08-14
41,ID4606811540520150815,WASH,2015-08-16 08:03:08,1152.0,48.0,2015-08-16 16:00:00,2015-08-26 18:00:00,2015-08-16 16:00:00,8,8,250,0,0,10,"[80338, 106796]",2015-08-15
42,MT4565711478020130716,GOLD_PAN_COMPLEX,2013-07-19 23:31:36,1464.0,61.0,2013-08-06 16:00:00,2013-08-06 16:00:00,2013-08-06 16:00:00,424,424,424,18,18,18,"[79684, 79707, 79709, 103595]",2013-07-19
43,MT4721411494320130714,WEST_MULLAN,2013-07-15 14:36:59,408.0,17.0,2013-07-15 17:00:00,2013-07-21 18:00:00,2013-07-15 17:00:00,2,2,147,0,0,6,[103621],2013-07-15
44,MT4677211425120130818,SCHOOLHOUSE,2013-08-18 17:11:33,336.0,14.0,2013-08-22 17:40:00,2013-08-27 17:25:00,2013-08-22 17:40:00,96,96,216,4,4,9,"[79662, 79721, 103625]",2013-08-18
45,MT4599511358020170714,MEYERS,2017-07-15 02:28:00,1608.0,67.0,2017-07-22 18:15:00,2017-07-19 18:15:00,2017-07-19 18:15:00,112,184,112,5,8,5,"[109354, 110012]",2017-07-14
46,MT4702111269120170715,PARK_CREEK,2017-07-16 14:30:18,1632.0,68.0,2017-07-30 16:00:00,2017-07-23 18:30:00,2017-07-23 18:30:00,172,337,172,7,14,7,"[109972, 110603]",2017-07-15
47,MT4850811564920170830,WEST_FORK,2017-09-01 04:49:37,576.0,24.0,2017-09-14 17:00:00,2017-09-17 17:00:00,2017-09-14 17:00:00,324,324,396,14,14,16,[110805],2017-08-31

In [48]:
fireDF.wind_start.iloc[0]

Timestamp('2015-08-02 00:00:00')

In [49]:
fireDF.columns

Index(['fireID', 'fire_name', 'fire_start', 'hours_of_data', 'days_of_data',
       'peak_aerial', 'peak_personnel', 'first_suppression', 'hours_til_first',
       'hours_til_aerial', 'hours_til_personnel', 'days_til_first',
       'days_til_aerial', 'days_til_personnel', 'fs209_indices', 'wind_start'],
      dtype='object')

In [63]:
fireDF = fireDF[['fireID', 'fire_name', 'fire_start', 'wind_start', 'hours_of_data', 'days_of_data',
       'peak_aerial', 'peak_personnel', 'first_suppression', 'hours_til_first',
       'hours_til_aerial', 'hours_til_personnel', 'days_til_first',
       'days_til_aerial', 'days_til_personnel', 'fs209_indices']]
fireDF = fireDF.sort_values(by='fire_name').reset_index(drop=True)
fireDF.first_suppression = pd.to_datetime(fireDF.first_suppression)
fireDF.fire_start = pd.to_datetime(fireDF.fire_start)
fireDF

,fireID,fire_name,fire_start,wind_start,hours_of_data,days_of_data,peak_aerial,peak_personnel,first_suppression,hours_til_first,hours_til_aerial,hours_til_personnel,days_til_first,days_til_aerial,days_til_personnel,fs209_indices
0,ID4634611483620150805,ARMY_MULE,2015-08-08 21:39:31,2015-08-07,1320.0,55.0,2015-08-14 21:45:00,2015-08-14 21:45:00,2015-08-14 21:45:00,144,144,144,6,6,6,"[80413, 106832]"
1,ID4439211551320170824,BEARSKIN,2017-08-25 03:00:00,2017-08-25,672.0,28.0,2017-09-10 16:00:00,2017-09-14 16:30:00,2017-09-10 16:00:00,397,397,494,17,17,21,[111189]
2,MT4784711358920150812,BEAR_CREEK,2015-08-13 01:55:00,2015-08-13,1200.0,50.0,2015-08-19 18:00:00,2015-08-31 21:30:00,2015-08-19 18:00:00,160,160,452,7,7,19,[106666]
3,ID4631911498620130718,CALIFORNIA_POINT,2013-07-19 09:13:00,2013-07-18,1032.0,43.0,2013-07-19 13:30:00,2013-07-19 13:30:00,2013-07-19 13:30:00,4,4,4,0,0,0,[103406]
4,ID4548411532320150813,CAMPBELLS,2015-08-15 03:56:59,2015-08-15,1128.0,47.0,2015-08-15 20:00:00,2015-08-22 18:00:00,2015-08-15 20:00:00,16,16,182,1,1,8,[106999]
5,ID4624611454720170813,CHUTE_CREEK,2017-08-15 16:09:14,2017-08-09,1128.0,47.0,2017-08-16 10:00:00,2017-08-16 10:00:00,2017-08-16 10:00:00,18,18,18,1,1,1,[111061]
6,MT4817011309420170811,CRUCIFIXION_CREEK,2017-08-16 03:21:10,2017-08-15,792.0,33.0,2017-09-14 18:00:00,2017-09-05 17:00:00,2017-09-05 17:00:00,494,711,494,21,30,21,[110510]
7,MT4766611562420170830,CUB_CREEK,2017-08-31 04:09:57,2017-08-30,504.0,21.0,2017-08-31 15:00:00,2017-08-31 15:00:00,2017-08-31 15:00:00,11,11,11,0,0,0,"[80547, 110804]"
8,MT4775411540420170830,DEEP_CREEK,2017-08-31 11:42:08,2017-08-30,552.0,23.0,2017-08-31 16:00:00,2017-08-31 16:00:00,2017-08-31 16:00:00,4,4,4,0,0,0,"[80546, 80549, 110777, 110841]"
9,ID4445011456920150824,ELEVENMILE,2015-08-25 04:11:43,2015-08-24,600.0,25.0,2015-09-03 19:00:00,2015-09-04 19:00:00,2015-09-03 19:00:00,231,231,255,10,10,11,[107042]
10,MT4665411363020170719,GOAT_CREEK,2017-07-21 14:30:59,2017-07-20,1008.0,42.0,2017-07-21 19:00:00,2017-07-21 19:00:00,2017-07-21 19:00:00,4,4,4,0,0,0,"[80652, 110407]"
11,MT4830211570120150820,GOAT_ROCK_COMPLEX,2015-08-20 15:17:59,2015-08-02,1440.0,60.0,2015-08-14 13:15:00,2015-08-14 13:15:00,2015-08-14 13:15:00,-146,-146,-146,-6,-6,-6,"[80103, 106678]"
12,MT4565711478020130716,GOLD_PAN_COMPLEX,2013-07-19 23:31:36,2013-07-19,1464.0,61.0,2013-08-06 16:00:00,2013-08-06 16:00:00,2013-08-06 16:00:00,424,424,424,18,18,18,"[79684, 79707, 79709, 103595]"
13,ID4554811595020170801,HANOVER,2017-08-02 03:02:23,2017-07-27,1368.0,57.0,2017-08-10 17:00:00,2017-08-15 16:00:00,2017-08-10 17:00:00,206,206,325,9,9,14,[110747]
14,WY4395910974120130720,HARDLUCK,2013-07-22 01:49:59,2013-07-11,1224.0,51.0,2013-08-18 16:30:00,2013-08-18 16:30:00,2013-08-18 16:30:00,663,663,663,28,28,28,[103977]
15,ID4638111450920170710,HIDDEN,2017-07-18 22:36:26,2017-07-15,1584.0,66.0,2017-07-20 17:30:00,2017-08-03 15:00:00,2017-07-20 17:30:00,43,43,376,2,2,16,[109942]
16,ID4549011522720170729,HIGHLINE,2017-08-01 15:31:18,2017-08-01,1200.0,50.0,2017-08-06 15:30:00,2017-08-27 19:00:00,2017-08-06 15:30:00,120,120,627,5,5,26,[111144]
17,ID4458811469520170724,IBEX,2017-07-25 15:37:08,2017-07-25,1224.0,51.0,2017-08-06 15:30:00,2017-08-08 18:30:00,2017-08-06 15:30:00,288,288,339,12,12,14,[110308]
18,ID4355711510020130824,KELLEY,2013-08-25 16:49:59,2013-08-24,528.0,22.0,2013-09-02 18:00:00,2013-09-02 18:00:00,2013-09-02 18:00:00,193,193,193,8,8,8,[103454]
19,MT4644711368920170713,LITTLE_HOGBACK,2017-07-19 02:52:59,2017-07-18,1464.0,61.0,2017-07-19 19:00:00,2017-07-19 19:00:00,2017-07-19 19:00:00,16,16,16,1,1,1,"[80654, 110692]"
20,MT4667411426820170715,LOLO_PEAK,2017-07-17 19:03:14,2017-07-12,1704.0,71.0,2017-08-17 17:30:00,2017-08-21 18:30:00,2017-08-17 17:30:00,742,742,839,31,31,35,[109861]
21,ID4608411503620170714,LONE_PINE,2017-07-21 22:52:19,2017-07-21,1656.0,69.0,2017-07-20 08:00:00,2017-07-20 08:00:00,2017-07-20 08:00:00,-39,-39,-39,-2,-2,-2,[109855]
22,ID4779711617020150812,LOWER_FLAT,2015-08-13 17:18:49,2015-08-12,1200.0,50.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,434,1171,434,18,49,18,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
23,MT4875011481620150811,MARSTON,2015-08-12 17:48:54,2015-08-11,1200.0,50.0,2015-08-11 08:30:00,2015-08-16 07:00:00,2015-08-11 08:30:00,-33,-33,85,-1,-1,4,"[80276, 106962]"
24,MT4599511358020170714,MEYERS,2017-07-15 02:28:00,2017-07-14,1608.0,67.0,2017-07-22 18:15:00,2017-07-19 18:15:00,2017-07-19 18:15:00,112,184,112,5,8,5,"[109354, 110012]"
25,ID4612211491320170714,MOOSE_CREEK_1,2017-07-17 05:24:58,2017-07-16,1536.0,64.0,2017-07-19 20:00:00,2017-07-20 11:45:00,2017-07-19 20:00:00,63,63,78,3,3,3,[109344]
26,MT4789611530920170830,MOOSE_PEAK,2017-08-31 19:17:24,2017-08-30,552.0,23.0,2017-09-08 15:00:00,2017-09-18 17:00:00,2017-09-08 15:00:00,188,188,430,8,8,18,[110803]
27,MT4773811295620150814,MOOSE_RIDGE,2015-08-21 00:47:19,2015-08-19,1056.0,44.0,2015-08-15 20:00:00,2015-09-12 00:59:00,2015-08-15 20:00:00,-125,-125,528,-5,-5,22,[106866]
28,MT4810711584820150814,NAPOLEON_1,2015-08-14 21:40:37,2015-08-14,456.0,19.0,2015-08-17 07:00:00,2015-08-20 07:00:00,2015-08-17 07:00:00,57,57,129,2,2,5,"[80028, 106764]"
29,MT4702111269120170715,PARK_CREEK,2017-07-16 14:30:18,2017-07-15,1632.0,68.0,2017-07-30 16:00:00,2017-07-23 18:30:00,2017-07-23 18:30:00,172,337,172,7,14,7,"[109972, 110603]"
30,ID4641211555020150811,PETE_FORKS,2015-08-13 08:12:45,2015-08-13,528.0,22.0,2015-08-12 21:00:00,2015-08-12 21:00:00,2015-08-12 21:00:00,-11,-11,-11,0,0,0,"[80036, 80037, 80038, 80039, 80040, 80041, 800..."
31,ID4482211591820150814,RAPID,2015-08-15 03:08:52,2015-08-13,1176.0,49.0,2015-08-30 18:00:00,2015-08-26 18:00:00,2015-08-26 18:00:00,279,375,279,12,16,12,[107014]
32,MT4780411300920130718,RED_SHALE,2013-07-20 06:11:59,2013-07-19,1320.0,55.0,2013-07-25 18:20:00,2013-07-31 18:18:00,2013-07-25 18:20:00,132,132,276,6,6,12,[103616]
33,MT4726811348520170724,RICE_RIDGE,2017-07-25 19:13:56,2017-07-24,1440.0,60.0,2017-08-15 09:00:00,2017-09-07 12:30:00,2017-08-15 09:00:00,494,494,1049,21,21,44,"[110304, 110544, 110620]"
34,ID4621311477020150715,ROLL_CREEK,2015-08-03 16:37:59,2015-08-02,1128.0,47.0,2015-08-06 21:00:00,2015-08-06 21:00:00,2015-08-06 21:00:00,76,76,76,3,3,3,"[80412, 106823]"
35,MT4795711307120170816,SCALP,2017-08-18 12:20:37,2017-08-17,792.0,33.0,2017-08-16 17:00:00,2017-09-07 10:30:00,2017-08-16 17:00:00,-43,-43,478,-2,-2,20,[111191]
36,MT4677211425120130818,SCHOOLHOUSE,2013-08-18 17:11:33,2013-08-18,336.0,14.0,2013-08-22 17:40:00,2013-08-27 17:25:00,2013-08-22 17:40:00,96,96,216,4,4,9,"[79662, 79721, 103625]"
37,MT4749511506020170829,SHEEP_GAP,2017-08-30 15:21:00,2017-08-29,576.0,24.0,2017-08-30 18:00:00,2017-08-30 18:00:00,2017-08-30 18:00:00,3,3,3,0,0,0,"[80544, 110174]"
38,ID4770811586620150813,SOUTH_BOBTAIL,2015-08-18 05:27:52,2015-08-17,1104.0,46.0,2015-10-01 12:00:00,2015-08-31 19:00:00,2015-08-31 19:00:00,326,1063,326,14,44,14,"[80131, 80132, 80133, 80134, 80135, 80136, 801..."
39,MT4860711382920170811,SPRAGUE,2017-08-12 03:34:25,2017-08-11,1056.0,44.0,2017-09-13 14:45:00,2017-09-05 18:00:00,2017-09-05 18:00:00,590,779,590,25,32,25,[110809]
40,MT4808911301520170825,STRAWBERRY,2017-08-26 01:13:48,2017-08-26,576.0,24.0,2017-09-12 19:00:00,2017-09-12 19:00:00,2017-09-12 19:00:00,426,426,426,18,18,18,[110365]
41,MT4703711487920170717,SUNRISE,2017-07-17 18:51:40,2017-07-17,1512.0,63.0,2017-07-24 18:00:00,2017-08-14 17:00:00,2017-07-24 18:00:00,167,167,670,7,7,28,[110431]
42,MT4854411361620150809,THOMPSON,2015-08-10 02:52:00,2015-08-09,600.0,25.0,2015-08-10 22:00:00,2015-08-11 20:00:00,2015-08-10 22:00:00,19,19,41,1,1,2,[106625]
43,MT4794711342920150812,TRAIL_CREEK,2015-08-13 05:39:12,2015-08-13,1200.0,50.0,2015-08-14 10:00:00,2015-08-24 18:00:00,2015-08-14 10:00:00,28,28,276,1,1,12,[106991]
44,ID4606811540520150815,WASH,2015-08-16 08:03:08,2015-08-15,1152.0,48.0,2015-08-16 16:00:00,2015-08-26 18:00:00,2015-08-16 16:00:00,8,8,250,0,0,10,"[80338, 106796]"
45,MT4850811564920170830,WEST_FORK,2017-09-01 04:49:37,2017-08-31,576.0,24.0,2017-09-14 17:00:00,2017-09-17 17:00:00,2017-09-14 17:00:00,324,324,396,14,14,16,[110805]
46,MT4721411494320130714,WEST_MULLAN,2013-07-15 14:36:59,2013-07-15,408.0,17.0,2013-07-15 17:00:00,2013-07-21 18:00:00,2013-07-15 17:00:00,2,2,147,0,0,6,[103621]
47,ID4618211575420150811,WOODRAT,2015-08-13 04:35:00,2015-08-12,1200.0,50.0,2015-08-13 15:30:00,2015-08-13 15:30:00,2015-08-13 15:30:00,11,11,11,0,0,0,"[80055, 106961]"

In [68]:
len(limit)

23

In [53]:
root_dir = '/mnt/DataDrive1/data/zholden/VIIRS/CA_model_test'
fireDF.to_csv(f'{root_dir}/fire_info.csv',index=False)

In [79]:
limit.fire_start.iloc[0]

Timestamp('2015-08-08 21:39:31')

In [77]:
int((limit.fire_start.iloc[0] - limit.wind_start.iloc[0]).total_seconds()/60//60)

45

In [78]:
limit.fire_start.iloc[0].hour

21

In [4]:
with Dataset(wspd_file,'r') as nc_file:
    for attr_name in nc_file.ncattrs():
        print(f'{attr_name}: {getattr(nc_file, attr_name)}')

Conventions: CF-1.4
created_by: R packages ncdf4 and terra (version 1.7-39)
date: 2023-10-20 10:38:32

In [8]:
with Dataset(wspd_file,'r') as nc_file:
    for attr_name in nc_file.ncattrs():
        print(f'{attr_name}: {getattr(nc_file, attr_name)}')

Conventions: CF-1.4
created_by: R packages ncdf4 and terra (version 1.7-39)
date: 2023-10-20 10:38:32

In [10]:
with Dataset(wspd_file,'r') as nc_file:
    date = getattr(nc_file, 'date')
date

'2023-10-20 10:38:32'

In [15]:
with Dataset(wspd_file,'r') as nc_file:
    for attr_name in nc_file.ncattrs():
        print(f'{attr_name}: {getattr(nc_file, attr_name)}')
    for var_name, variable in nc_file.variables.items():
        print(f'Variable: {var_name}, dType: {variable.dtype}, Dims: {variable.dimensions} shape: {variable.shape}')
        for attr_name in variable.ncattrs():
            print(f'{attr_name}: {getattr(variable, attr_name)}')

Conventions: CF-1.4
created_by: R packages ncdf4 and terra (version 1.7-39)
date: 2023-10-20 10:38:32
Variable: easting, dType: float64, Dims: ('easting',) shape: (80,)
units: meter
long_name: easting
Variable: northing, dType: float64, Dims: ('northing',) shape: (90,)
units: meter
long_name: northing
Variable: time, dType: float64, Dims: ('time',) shape: (1224,)
units: days since 1970-1-1
long_name: time
calendar: standard
Variable: WY4395910974120130720_windspeed, dType: float32, Dims: ('time', 'northing', 'easting') shape: (1224, 90, 80)
_FillValue: -1.1754940241844054e+38
grid_mapping: crs
Variable: crs, dType: int32, Dims: () shape: ()
crs_wkt: PROJCRS["USA_Contiguous_Albers_Equal_Area_Conic_USGS_version",    BASEGEOGCRS["NAD83",        DATUM["North American Datum 1983",            ELLIPSOID["GRS 1980",6378137,298.257222101004,                LENGTHUNIT["metre",1]]],        PRIMEM["Greenwich",0,            ANGLEUNIT["degree",0.0174532925199433]],        ID["EPSG",4269]],    CONVERSION["unnamed",        METHOD["Albers Equal Area",            ID["EPSG",9822]],        PARAMETER["Latitude of false origin",23,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8821]],        PARAMETER["Longitude of false origin",-96,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8822]],        PARAMETER["Latitude of 1st standard parallel",29.5,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8823]],        PARAMETER["Latitude of 2nd standard parallel",45.5,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8824]],        PARAMETER["Easting at false origin",0,            LENGTHUNIT["metre",1],            ID["EPSG",8826]],        PARAMETER["Northing at false origin",0,            LENGTHUNIT["metre",1],            ID["EPSG",8827]]],    CS[Cartesian,2],        AXIS["easting",east,            ORDER[1],            LENGTHUNIT["metre",1,                ID["EPSG",9001]]],        AXIS["northing",north,            ORDER[2],            LENGTHUNIT["metre",1,                ID["EPSG",9001]]]]
spatial_ref: PROJCRS["USA_Contiguous_Albers_Equal_Area_Conic_USGS_version",    BASEGEOGCRS["NAD83",        DATUM["North American Datum 1983",            ELLIPSOID["GRS 1980",6378137,298.257222101004,                LENGTHUNIT["metre",1]]],        PRIMEM["Greenwich",0,            ANGLEUNIT["degree",0.0174532925199433]],        ID["EPSG",4269]],    CONVERSION["unnamed",        METHOD["Albers Equal Area",            ID["EPSG",9822]],        PARAMETER["Latitude of false origin",23,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8821]],        PARAMETER["Longitude of false origin",-96,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8822]],        PARAMETER["Latitude of 1st standard parallel",29.5,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8823]],        PARAMETER["Latitude of 2nd standard parallel",45.5,            ANGLEUNIT["degree",0.0174532925199433],            ID["EPSG",8824]],        PARAMETER["Easting at false origin",0,            LENGTHUNIT["metre",1],            ID["EPSG",8826]],        PARAMETER["Northing at false origin",0,            LENGTHUNIT["metre",1],            ID["EPSG",8827]]],    CS[Cartesian,2],        AXIS["easting",east,            ORDER[1],            LENGTHUNIT["metre",1,                ID["EPSG",9001]]],        AXIS["northing",north,            ORDER[2],            LENGTHUNIT["metre",1,                ID["EPSG",9001]]]]
proj4: +proj=aea +lat_0=23 +lon_0=-96 +lat_1=29.5 +lat_2=45.5 +x_0=0 +y_0=0 +datum=NAD83 +units=m +no_defs
geotransform: -1103715 240 0 2416515 0 -240

In [36]:
with Dataset(wspd_file,'r') as nc_file:
    time_var = nc_file.variables['time']
    raw_times = time_var[:]
    dates = num2date(raw_times, units=time_var.units)
for date in dates[:25]:
    print(date.strftime('%Y-%m-%d %H:%M:%S'), end=', ')

2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-11 00:00:00, 2013-07-12 00:00:00,

In [35]:
with Dataset(wdir_file,'r') as nc_file:
    time_var = nc_file.variables['time']
    raw_times = time_var[:]
    dates = num2date(raw_times, units=time_var.units)
for date in dates[:25]:
    print(date.strftime('%Y-%m-%d %H:%M:%S'))

2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-11 00:00:00
2013-07-12 00:00:00